{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

<div class="category-intro container text-center pt-5 pb-2">
  <!-- <p>I have been teaching myself textile techniques since the beginning of 2021. I typically work with hand-sewing, machine embroidery and appliqué. My work is often soft and fragile and I like to show the thread and stitches that hold something together.
  I began learning to weave in April 2021 and have since been working across a range of handlooms, developing samples and finished pieces. </p> -->
</div>

{{ if .Content }}
<div class="container pt-6 pt-md-10">
  <div class="row">
    <div class="col-12">
      <div class="page-intro">
      {{ .Content }}
    </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container pb-1 pt-1 pb-md-10 pt-md-2">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 pb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}