
.category-intro {
  width: 50%;
}

@media (min-width: 100px) and (max-width: 575px) {
  .category-intro {
    width: 75%;
    }
  }

.work-title-container {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 250px;
    position: relative;
    padding-top: 60px; 
} 


.page-work-single .masonry {
  /* Masonry container */
  column-count: 1;
  column-gap: 1em;
 }

.hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: white;
    height: 100px;
    position: relative;
    padding-top: 130px; }
    .hero-image .container {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column; }
    .hero-image .row {
      height: inherit; }
    .hero-image .hero-text {
      flex: 0;
      /* color: #ffffff; */
      margin: auto 0; }
      .hero-image .hero-text h1 {
        font-size: 2rem; }
        @media (min-width: 768px) {
          .hero-image .hero-text h1 {
            font-size: 2.5rem;
            width: 80%; } }
      .hero-image .hero-text h2 {
        font-size: 2.2rem; }
        @media (min-width: 768px) {
          .hero-image .hero-text h2 {
            font-size: 2.4rem; } }
      .hero-image .hero-text p {
        font-size: 1.6rem;
        line-height: 1.3; }
        @media (min-width: 768px) {
          .hero-image .hero-text p {
            font-size: 1.6rem;
            width: 60%; } }
    .hero-image .hero-down {
      flex: 0;
      text-align: center;
      opacity: 0.7; }
      .hero-image .hero-down:hover {
        opacity: 1; }
    .hero-image .hero-section {
      text-transform: uppercase;
      font-weight: normal; }

