.work-summary {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .work-image {
    max-height: 400px;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }


  .work-content {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    // border-bottom: 2px solid $primary;
    .work-title {
      font-family: $font-family-heading;
      font-size: 1.3rem;
      a{
        color: #000;
      }
    }
    p {
      color: #666;
      font-size: 0.9rem;
    }
  }
}
