{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

<div class="category-intro container text-center pt-5 pb-2">
  <!-- <p>I began making art six years ago through discovering Welfare State International. With no prior training, they inspired me to make performances in public spaces which evolved to processions, community celebrations and co-creation with groups. I’m drawn to large-scale costumes, banners and the unexpected nature of performing in public spaces. As these works progressed, I became interested in exhaustion and when something becomes impossible to continue. Recent works have looked more at the documentation of a performance and building a series of images around this.</p> -->
</div>

{{ if .Content }}
<div class="container pt-6 pt-md-10">
  <div class="row">
    <div class="col-12">
      <div class="page-intro">
      {{ .Content }}
    </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container pb-1 pt-1 pb-md-10 pt-md-2">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 pb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}