{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<!-- <div class="container pt-4 pt-md-10 pb-4 pb-md-10"> -->
<div class="">
  <div class="row justify-content-start remove-margin-md">
    <div class="col-12 col-md-8">
      <div class="work work-single">
        
      </div>
    </div>
    <div class="image-gallery">
      <!-- content -->
      
      <div class="container single-content">
        <h1>{{.Params.title}}</h1>
        {{.Content}}
      </div>
        <div class="image-slide">
          {{range .Resources.ByType "image" }}
          <img draggable="false" src="{{.}}" alt="{{.}} samples">
          {{end}}
        </div> 

        <div class="workpage-list">
          <h6>Digital + Design</h6>
          <ul>
            <li><a href="/performance/sun-sets/">the sun sets</a></li>
            <li><a href="/performance/do-us-a-solid-citizen/">Do Us a Solid, Citizen</a></li>
            <li><a href="/performance/oysters/">Oyster Readings</a></li>
            <li><a href="/performance/no-time-to-waste/">No Time to Waste</a></li>
            <li><a href="/performance/tfyp/">Thank You for Your Patience</a></li>
            <li><a href="/performance/hcts/">Here Comes the Sun</a></li>
          </ul>
        </div>
      
      <!-- <div class="single-desc">

      </div> -->
    </div>
  
  </div>
</div>
  
{{ end }}
{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}


{{ end }}